@import 'tailwindcss';

@theme {
  @keyframes softPulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
  }

  @keyframes liveDot {
    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.2);
    }
  }

  --animate-soft-pulse: softPulse 2s ease-in-out infinite;
  --animate-live-dot: liveDot 1.5s ease-in-out infinite;

  --breakpoint-smx: 480px;
  --breakpoint-mdx: 968px;
  --breakpoint-lgx: 1200px;
}
